# Copyright (c) 2021, Arm Limited.
#
# SPDX-License-Identifier: MIT

# Keywords:
#   - ROOT:
#       Root directory of the project's git repository (configurable via the
#       --project_root script argument).
#   - GITIGNORE_CONTENTS:
#       This keyword is replaced by the contents of the repository's base
#       .gitignore file.

# Each QA-check module defines its required variables, which may be set here.
# If a required variable is not defined for a particular QA-check module, a
# value from the defaults section will be used.

defaults:
    paths:
        - ROOT
    exclude_patterns:
        - GITIGNORE_CONTENTS
        - "*.git"

modules:
    commit_msg:
        title_length: 80
        body_length: 80
        commits: "-1"

    header:
        exclude_patterns:
            - GITIGNORE_CONTENTS
            - "/meta-ewaol-config/qa-checks/ewaol-dictionary"
            - "*.git"
            - "*.gitignore"
            - "*.md"
            - "*.rst"
            - "*.pyc"
            - "*.png"
            - "*.cfg"
            - "*.css"
            - "*.scc"
            - "*.patch"

    python:
        file_types:
            - "python script"

    shell:
        file_types:
            - "shell script"
            - "bats script"

    spell:
        paths:
            - "README.md"
            - "documentation"
        exclude_patterns:
            - GITIGNORE_CONTENTS
            - "*.git"
            - "*.png"
            - "/documentation/conf.py"
            - "/documentation/Makefile"
            - "/documentation/index.rst"
        dict_path: "meta-ewaol-config/qa-checks/ewaol-dictionary"
