# Copyright (c) 2022, Arm Limited.
#
# SPDX-License-Identifier: MIT

name = "${EWAOL_VM_HOSTNAME}"
memory = ${EWAOL_VM_MEMORY_SIZE}
vcpus = ${EWAOL_VM_NUMBER_OF_CPUS}
extra = " earlyprintk=xenboot console=hvc0 rw"
root = "/dev/xvda1"
kernel = "${EWAOL_VM_KERNEL_PATH}"
disk = ['format=qcow2, vdev=xvda, access=rw, backendtype=qdisk, target=${EWAOL_VM_DISK_PATH}']
vif = ['script=vif-bridge,bridge=xenbr0']
